<div id="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="heading">
        Angular Material Theming Helper
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<form [formGroup]="selectionForm" id="colors">
  <mat-form-field>
        <mat-label>Warn</mat-label>
        <mat-select formControlName="warn" (selectionChange)="generateTheme();">
          <mat-option *ngFor="let item of primaryColors" [value]="item.value">
            <span class="color_demo" [ngStyle]="{'background-color': item.color }"></span> {{item.viewValue}}
          </mat-option>
        </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Primary</mat-label>
    <mat-select formControlName="primary" (selectionChange)="primaryColorChange();">
      <mat-option *ngFor="let item of primaryColors" [value]="item.value">
        <span class="color_demo" [ngStyle]="{'background-color': item.color }"></span> {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Primary Contrast</mat-label>
      <mat-select formControlName="primaryContrast" (selectionChange)="generateTheme();">
        <mat-option *ngFor="let item of primaryContrast" [value]="item.value">
          <span class="color_demo" [ngStyle]="{'background-color': item.color }"></span> {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <mat-form-field>
    <mat-label>Accent</mat-label>
    <mat-select formControlName="accent" (selectionChange)="accentColorChange()">
      <mat-option *ngFor="let item of primaryColors" [value]="item.value">
        <span class="color_demo" [ngStyle]="{'background-color': item.color }"></span> {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Accent Contrast 1</mat-label>
    <mat-select formControlName="accentContrast1" (selectionChange)="generateTheme();">
      <mat-option *ngFor="let item of contrasts" [value]="item.value">
        <span class="color_demo" [ngStyle]="{'background-color': item.color }"></span> {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Accent Contrast 2</mat-label>
    <mat-select formControlName="accentContrast2" (selectionChange)="generateTheme();">
      <mat-option *ngFor="let item of contrasts" [value]="item.value">
        <span class="color_demo" [ngStyle]="{'background-color': item.color }"></span> {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Accent Contrast 3</mat-label>
    <mat-select formControlName="accentContrast3" (selectionChange)="generateTheme();">
      <mat-option *ngFor="let item of contrasts" [value]="item.value">
        <span class="color_demo" [ngStyle]="{'background-color': item.color }"></span> {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="clipboard">
  <textarea [(ngModel)]="customTheme"></textarea>
</div>